# Unit 23. 2차원 List

In [1]:
a = [[10, 20], [30, 40], [50, 60]]
a

[[10, 20], [30, 40], [50, 60]]

In [2]:
import numpy as np
b = np.arange(10,61,10).reshape(3,2)
b

array([[10, 20],
       [30, 40],
       [50, 60]])

In [3]:
import pandas as pd
df = pd.DataFrame(a)
df

    0   1
0  10  20
1  30  40
2  50  60

In [4]:
# indexing
a[1][1]

40

In [6]:
a[-1][-1]

60

In [8]:
from pprint import pprint
pprint(a, indent=4, width=20)

[   [10, 20],
    [30, 40],
    [50, 60]]

### 23-2. 2차원 리스트와 반복문

In [10]:
for element in a:   # 2차원에서는 element -> list
    print(element)

[10, 20]
[30, 40]
[50, 60]

In [11]:
for sub in a:
    for element in sub:
        print(element)
    print()

10
20

30
40

50
60

In [13]:
len(a), len(a[0])

(3, 2)

In [15]:
for i in range(len(a)):         # 행의 갯수
    for k in range(len(a[i])):   # 열의 갯수
        print(a[i][k], end=' ')
    print()

10 20
30 40
50 60

In [16]:
for row in a:
    for element in row:
        print(element, end=' ')
    print()

10 20
30 40
50 60

### 23-3. 반복문으로 2차원 리스트 만들기

In [17]:
# 1 차원
a = []
for i in range(5):
    a.append(i)
a

[0, 1, 2, 3, 4]

In [20]:
# 1 차원
list(range(5))

[0, 1, 2, 3, 4]

In [21]:
# 1 차원
[i for i in range(5)]

[0, 1, 2, 3, 4]

In [23]:
# 2차원 (3 x 4)
two_d = []
for i in range(3):
    for k in range(4):
        two_d.append(4*i+k)
two_d

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [24]:
# 2차원 (3 x 4)
two_d = []                      # 2차원 리스트에
for i in range(3):
    line = []                   # 1차원 리스트를 append
    for k in range(4):
        line.append(4*i+k)
    two_d.append(line)
two_d

[[0, 1, 2, 3], [4, 5, 6, 7], [8, 9, 10, 11]]

In [2]:
import random
N = 8
mines = []
for _ in range(N):          # _ 는 범위가 아닌 반복을 할 때 쓰임
    row = ''
    for _ in range(N):
        if random.random() > 0.7:          # random.random 0-1까지의 값을 return
            row += '*'
        else:
            row += '.'
    mines.append(row)

for row in mines:
    for element in row:
        print(element, end=' ')
    print()

. . . . . * * .
. . . . . * . .
* * * . . . . .
* . * * . . . .
. . . . * . . .
. . * . . . . .
. . . . . . . .
. . * . . . * .

In [5]:
def print_mines(mat):
    for row in mat:
        for element in row:
            print(element, end=' ')
        print()

In [12]:
N = int(input())
mines = [['*' if random.random() > 0.7 else '.' for _ in range(N)] for _ in range(N)]
print_mines(mines)

* . * * . .
. . . . . *
. . . . . *
. . * . * .
. . . * . .
. * . . . .

In [6]:
print_mines(mines)

. . . . . * * .
. . . . . * . .
* * * . . . . .
* . * * . . . .
. . . . * . . .
. . * . . . . .
. . . . . . . .
. . * . . . * .

In [7]:
pad_mines = []
pad_mines.append('.' * (N+2))
for row in mines:
    line = '.'
    for element in row:
        line += element
    line += '.'
    pad_mines.append(line)
pad_mines.append('.' * (N+2))
print_mines(pad_mines)

. . . . . . . . . .
. . . . . . * * . .
. . . . . . * . . .
. * * * . . . . . .
. * . * * . . . . .
. . . . . * . . . .
. . . * . . . . . .
. . . . . . . . . .
. . . * . . . * . .
. . . . . . . . . .

In [9]:
final_mines = []
for i in range(1, N+1):
    row = ''
    for k in range(1, N+1):
        if pad_mines[i][k] == '*':
            row += '*'
        else:
            count = (pad_mines[i-1][k-1]=='*') + (pad_mines[i-1][k]=='*') + (pad_mines[i-1][k+1]=='*') + \
                    (pad_mines[i][k-1]=='*') +                              (pad_mines[i][k+1]=='*') + \
                    (pad_mines[i+1][k-1]=='*') + (pad_mines[i+1][k]=='*') + (pad_mines[i+1][k+1]=='*')
            row += str(count)
    final_mines.append(row)

print_mines(final_mines)

0 0 0 0 2 * * 1
2 3 2 1 2 * 3 1
* * * 3 2 1 1 0
* 5 * * 2 1 0 0
1 3 3 4 * 1 0 0
0 1 * 2 1 1 0 0
0 2 2 2 0 1 1 1
0 1 * 1 0 1 * 1