# Unit 30. 위치 인수, 키워드 인수

In [1]:
print(10, 20, sep=', ', end='\n\n')

10, 20

- 위치 인수(positional argument/positional parameter)

In [2]:
def print_3numbers(a,b,c):
    print(a)
    print(b)
    print(c)

In [3]:
print_3numbers(10,20,30)

10
20
30

In [4]:
# argument 3개인데 x하나면 입력하면 오류
x = [10,20,30]
print_3numbers(x)

TypeError: print_3numbers() missing 2 required positional arguments: 'b' and 'c'

In [5]:
x = [10,20,30]
print_3numbers(*x)      # list unpacking
# pointer인 리스트가 가리키는 값을 보여줌

10
20
30

- 가변 인수(variable argument)

In [6]:
def print_numbers(*args):
    for arg in args:
        print(arg)

In [7]:
print_numbers(100)

100

In [8]:
print_numbers(10,20,30)

10
20
30

In [9]:
print_numbers()

- 고정인수, 가변인수 함께 사용

In [10]:
def print_n_numbers(a, *args):      # a에는 argument기 반드시 하나는 들어와야 하고, *args에는 들어와도 되고 안 들어와도 됨
    print(a)                        # 고정 매개변수가 먼저 와야 함
    for arg in args:
        print(arg)

In [11]:
print_n_numbers(10)

10

In [14]:
def personal_info(name, age, address):
    print('이름:', name)
    print('나이:', age)
    print('주소:', address)

In [15]:
# 위치 인수로 호출
personal_info('홍길동', 25, '제주도 제주시 노형동')

이름: 홍길동
나이: 25
주소: 제주도 제주시 노형동

In [16]:
# 키워드 인수로 호출 (키워드 인수를 딕셔너리의 키가 되게 만들어주면 됨)
personal_info(age=25, address='제주도 제주시 연동', name='홍길동')

이름: 홍길동
나이: 25
주소: 제주도 제주시 연동

- 키워드 인수를 사용하는 가변 인수

In [22]:
def personal_info2(**kwargs):
    for key, value in kwargs.items():
        print(f'{key}: {value}')

In [23]:
personal_info2(age=25, address='제주도 제주시 연동', name='홍길동')

age: 25
address: 제주도 제주시 연동
name: 홍길동

In [25]:
def custom_print(*args, **kwargs):      #*args가 먼저 (위치기반)
    print(*args, **kwargs)
    custom_print(1, 2, 3, sep=':', end='')

-  매개변수에 초기값 지정

In [31]:
def personal_info3(name, age, address):
    print('이름:', name)
    print('나이:', age)
    print('주소:', address)

In [32]:
personal_info3(age=25, address='제주도 제주시 연동', name='홍길동')

이름: 홍길동
나이: 25
주소: 제주도 제주시 연동

In [34]:
def personal_info3(name, age, address='비공개'):
    print('이름:', name)
    print('나이:', age)
    print('주소:', address)

In [35]:
personal_info3(age=25, name='홍길동')       # 초기값 지정되어 있는 변수를 맨 뒤로

이름: 홍길동
나이: 25
주소: 비공개