# Unit22. 리스트와 튜플

- 요소 추가

In [18]:
a = [10, 20, 30]
a.append(40)   # .append => 뒤에 요소 추가 / c language에서는 array를 사용해야 하는데 추가와 삭제가 귑지 않아 잘 사용하지 않음
a

[10, 20, 30, 40]

In [19]:
a.insert(0, 34)   # insert는 반복문하고 결합이 되지 않기 때문에 잘 사용하지 않음
a

[34, 10, 20, 30, 40]

In [20]:
a.append([100, 200])
a

[34, 10, 20, 30, 40, [100, 200]]

In [21]:
b = [1, 2, 3]
b.extend([30, 40])
b

[1, 2, 3, 30, 40]

- 요소 삭제

In [22]:
del a[-1]
a

[34, 10, 20, 30, 40]

In [23]:
a.pop()

40

In [24]:
a

[34, 10, 20, 30]

In [25]:
a.pop(0)

34

- 특정값의 인덱스 찾기

In [28]:
a.index(20)

1

In [31]:
for index, element in enumerate(a):
    print(f'index: {index}, value: {element}')

index: 0, value: 10
index: 1, value: 20
index: 2, value: 30

In [32]:
for i in range(len(a)):
    print(f'index: {i}, value: {a[i]}')

index: 0, value: 10
index: 1, value: 20
index: 2, value: 30

In [33]:
value = 20
for index, element in enumerate(a):
    if element == value:
        break
print(index)

1

- 기타

In [36]:
# 특정 값의 갯수
a = [10, 20, 30, 15, 20, 40]
a.count(20)

2

In [37]:
a[::-1]

[40, 20, 15, 30, 20, 10]

In [38]:
a.reverse()

In [39]:
a

[40, 20, 15, 30, 20, 10]

- 정렬(Sort)

In [43]:
a.sort()   # 오름차순(ascending order) 정렬

In [42]:
a

[10, 15, 20, 20, 30, 40]

In [44]:
a.sort(reverse=True)   # 내림차순 (descending order) 정렬
a

[40, 30, 20, 20, 15, 10]

In [45]:
b = [10, 20, 30, 15, 20, 40]
sorted(b)

[10, 15, 20, 20, 30, 40]

In [46]:
b

[10, 20, 30, 15, 20, 40]

- 리스트 복사

In [47]:
a

[40, 30, 20, 20, 15, 10]

In [48]:
b = a

In [49]:
b[-1] = 300
a

[40, 30, 20, 20, 15, 300]

In [50]:
a is b

True

In [51]:
a

[40, 30, 20, 20, 15, 300]

In [52]:
b = a.copy()
b[-1] = 88
b

[40, 30, 20, 20, 15, 88]

In [53]:
a

[40, 30, 20, 20, 15, 300]

- assignment vs copy vs deepcopy

In [59]:
x = 5
y = 3
x = y
print(x, y)

3 3

### 22-3. 반복문과 리스트

In [54]:
a = [38, 21, 53, 62, 19]
for i in a:
    print(i)

38
21
53
62
19

- 인덱스와 요소를 동시에 액세스

In [55]:
for index, value in enumerate(a):
    print(index, value)

0 38
1 21
2 53
3 62
4 19

In [56]:
fruits = ['사과', '배', '귤', '감']
for index, fruit in enumerate(fruits):
    print(index, fruit)

0 사과
1 배
2 귤
3 감

### 22-4. 리스트의 최대값, 최소값, 합계 구하기

In [60]:
a = [38, 21, 53, 62, 19]
small = 10000   # 1000 대신 i로 입력해도 무관, 숫자를 설정하는 기준은?
for element in a:
    if element < small:
        small = element
small

19

In [62]:
a = [38, 21, 53, 62, 19]
small = i
for element in a:
    if element < small:
        small = element
small

19

In [61]:
large = -1
for element in a:
    if element > large:
        large = element
large

62

In [63]:
min(a), max(a)

(19, 62)

In [64]:
sum(a)

193

In [65]:
# 잘못된 예시
#a = [38, 21, 53, 62, 19]
#sum = 0
#for i in a:
#   sum += i
#sum   'sum'은 내장 함수 이름이고 키워드가 아님, sum을 사용할 때는 신중하게

193

In [66]:
# sum(a)

TypeError: 'int' object is not callable

In [ ]:
# 올바른 예시
#a = [38, 21, 53, 62, 19]
#sum_of_array = 0
#for i in a:
#    sum += i
#sum

In [ ]:
#x = 10
#x(a)

#  int와 함수는 다름

### 22-5. 리스트 표현식(Comprehension)

In [67]:
# 1에서 10까지의 제곱수로 된 리스트를 만드세요.
square_list = []
for i in range(1,11):
    square_list.append(i*i)
square_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [68]:
square_list = [i*i for i in range(1,11)]
square_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [71]:
odd_sq = [i*i for i in range(1,11) if i % 2 == 1]
odd_sq

[1, 9, 25, 49, 81]

In [ ]:
square_list = [m*m for m in range]

m = 3
n = 14