# Unit 11. Sequence 자료형 활용

In [1]:
a = []
a.append(1)
a

[1]

- 특정값이 있는지 확인

In [3]:
10 in [1, 3, 10, 30]

True

In [4]:
10 in range(10)

False

In [5]:
's' not in 'Python'

True

- 객체 연결

In [6]:
[1, 2, 3] + [4, 5]

[1, 2, 3, 4, 5]

In [8]:
(1,2,3) + (4,5)   #기존 튜플이 아니라 새로운 튜플을 만들어 주기 때문에 가능

(1, 2, 3, 4, 5)

In [10]:
'Hello ' + 'Python'

'Hello Python'

In [21]:
# range는 안 됨
range(5) + range(3)   #안 되는 예시

TypeError: unsupported operand type(s) for +: 'range' and 'range'

In [14]:
# range를 사용하고 싶다면
list(range(5)) + list(range(3))

[0, 1, 2, 3, 4, 0, 1, 2]

In [15]:
#'Hello' + 10  자바에서는 가능하지만 파이썬은 놉!
'Hello' + str(10)

'Hello10'

In [16]:
f'Hello {10}'

'Hello 10'

- 반복

In [18]:
[1, 3, 4] * 3

[1, 3, 4, 1, 3, 4, 1, 3, 4]

In [19]:
'python' * 3

'pythonpythonpython'

In [20]:
list(range(5)) * 3

[0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4]

- element 갯수 구하기

In [24]:
len([1,2,3])

3

In [23]:
len(range(5))

5

In [26]:
len(range(5)), len(range(1,10,2))

(5, 5)

In [27]:
len('안녕하세요?')

6

- 인덱스 사용

In [28]:
a = [38, 21, 53, 62, 19]
a[0], a[2]

(38, 53)

In [29]:
a[len(a)-1], a[-1]

(19, 19)

In [30]:
s = 'Hello, world!'
s[0], s[7]

('H', 'w')

In [31]:
s[-1], s[-2]

('!', 'd')

In [33]:
a

[38, 21, 53, 62, 19]

In [34]:
del a[3]
a

[38, 21, 53, 19]

### 11.4 슬라이스

In [35]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
a[0:4]

[0, 10, 20, 30]

In [37]:
a[4:7], a[7:-1]

([40, 50, 60], [70, 80])

In [38]:
a[:4], a[7:]

([0, 10, 20, 30], [70, 80, 90])

In [44]:
a[::-1]

[90, 80, 70, 60, 50, 40, 30, 20, 10, 0]

In [45]:
a[0:-1:2], a[::2]

([0, 20, 40, 60, 80], [0, 20, 40, 60, 80])

In [46]:
a[7:len(a)], a[7:10]

([70, 80, 90], [70, 80, 90])

In [48]:
s = 'Hello, world!'
s[:5], s[-6:-1]

('Hello', 'world')

In [49]:
s = 'madam'
s == s[::-1]

True

In [50]:
num = 1234321
s = str(num)
s == s[::-1]

True

In [51]:
a[3:6] = [100, 200, 300]
a

[0, 10, 20, 100, 200, 300, 60, 70, 80, 90]

In [52]:
a[3:6] = [100, 200]
a

[0, 10, 20, 100, 200, 60, 70, 80, 90]

In [53]:
del a[3:5]
a

[0, 10, 20, 60, 70, 80, 90]

In [57]:
# 표준 입력으로 숫자 또는 문자열 여러 개가 입력되어 리스트 x에 저장됩니다(입력되는 숫자 또는 문자열의 개수는 정해져 있지 않음). 다음 소스 코드를 완성하여 리스트 x의 마지막 요소 5개를 삭제한 뒤 튜플로 출력되게 만드세요.
x = input().split()
del x[-5:]
print(tuple(x))

('1', '2', '3', '4', '5')

In [11]:
# 표준 입력으로 문자열 두 개가 각 줄에 입력됩니다(문자열의 길이는 정해져 있지 않음). 첫 번째 문자열에서 인덱스가 홀수인 문자와 두 번째 문자열에서 인덱스가 짝수인 문자를 연결하여 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 연결 순서는 첫 번째 문자열, 두 번째 문자열 순입니다. 그리고 0은 짝수로 처리합니다.
a = input()
b = input()
a = a[1:len(a):2]
b = b[0:len(b):2]
print(a + b)

246135

In [13]:
# 표준 입력으로 문자열 두 개가 각 줄에 입력됩니다(문자열의 길이는 정해져 있지 않음). 첫 번째 문자열에서 인덱스가 홀수인 문자와 두 번째 문자열에서 인덱스가 짝수인 문자를 연결하여 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 연결 순서는 첫 번째 문자열, 두 번째 문자열 순입니다. 그리고 0은 짝수로 처리합니다.
a, b = input().split()
a = a[1:len(a):2]
b = b[0:len(b):2]
print(a + b)

yhnpto

In [17]:
# 표준 입력으로 문자열 두 개가 각 줄에 입력됩니다(문자열의 길이는 정해져 있지 않음). 첫 번째 문자열에서 인덱스가 홀수인 문자와 두 번째 문자열에서 인덱스가 짝수인 문자를 연결하여 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 연결 순서는 첫 번째 문자열, 두 번째 문자열 순입니다. 그리고 0은 짝수로 처리합니다.
a = input()
b = input()
print((a[1:len(a):2]) + (b[0:len(b):2]))

yhnpto