In [25]:
# 영화 제목을 movie_rank 이름의 리스트에 저장
movie_rank = ['닥터 스트레인지', '스플릿', '럭키']
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키']

In [26]:
# movie_rank 리스트에 "배트맨"을 추가
movie_rank = ['닥터 스트레인지', '스플릿', '럭키']
movie_rank.append('배트맨')
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [27]:
# "슈퍼맨"을 "닥터 스트레인지"와 "스플릿" 사이에 추가
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert(1, '슈퍼맨')
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [28]:
# movie_rank 리스트에서 '럭키'를 삭제
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
del movie_rank[2]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '럭키', '배트맨']

In [30]:
# movie_rank 리스트에서 '스플릿' 과 '배트맨'을 를 삭제
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
del movie_rank[2]
del movie_rank[2]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [33]:
# lang1과 lang2의 원소를 모두 갖고 있는 langs 리스트를 만들기
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
lang3 = lang1 + lang2
print(lang3)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [35]:
# 최댓값과 최솟값을 출력
nums = [1, 2, 3, 4, 5, 6, 7]
print('max:', ' ', max(nums))
print('min:', ' ', min(nums))

max:   7
min:   1

In [36]:
# 리스트의 합을 출력
nums = [1, 2, 3, 4, 5]
print(sum(nums))

15

In [37]:
# 리스트에 저장된 데이터의 개수
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
print(len(cook))

12

In [39]:
# 리스트의 평균을 출력
num = [1, 2, 3, 4, 5]
print(sum(nums) / len(num))

3.0

In [43]:
x = int(input())

if x % 2 == 0:
    y = 'even'
else:
    y = 'odd'
print(y)

even

In [50]:
x = int(input())
if x % 15 == 0:
    print('FizzBuzz')
elif x % 3 == 0:
    print('Fizz')
elif x % 5 == 0:
    print('Buzz')
else:
    print(x)

Fizz

In [51]:
for x in range(1,101):
    if x % 15 == 0:
        print('FizzBuzz')
    elif x % 3 == 0:
        print('Fizz')
    elif x % 5 == 0:
        print('Buzz')
    else:
        print(x)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [53]:
number = int(input())
print('FizzBuzz'*(number%15==0) + 'Fizz'*(number%3==0) + 'Buzz'*(number%5==0) or number)

Buzz

In [54]:
sum = 0
for i in range(1, 11):
    sum += i
print(sum)

55

In [56]:
product = 1
for i in range(1, 11, 2):
    product *= i
print(product)

945

In [58]:
sum = 0
i = 1
while i <= 10:
    sum += i
    i += 1
print(sum)

55

In [59]:
print('-' * 50)
for i in range(2, 10):
    for k in range(1, 10):
        print(f'{i} * {k} = {i*k}')
print('-' * 50)

--------------------------------------------------
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
--------------------------------------------------

In [60]:
for i in range(2, 10):
    for k in range(1, 10):
        print(f'{i} * {k} = {i*k}')

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [61]:
print('-' * 50)

--------------------------------------------------

In [62]:
for i in range(1, 6):
    for k in range(1, 6):
        if i == k:
            print('*', end='')
    print()

*
*
*
*
*

In [63]:
for i in range(1, 6):
    for k in range(i):
        print('*', end='')
    print()

*
**
***
****
*****

In [64]:
for i in range(1, 6):
    for k in range(1, 6):
        print('*', end='')
    print()

*****
*****
*****
*****
*****

In [79]:
fruits = ('사과', '망고', '딸기', '바나나', '수박', '참외')
list(fruits)

['사과', '망고', '딸기', '바나나', '수박', '참외']

In [80]:
fruits[0:2]

('사과', '망고')

In [81]:
fruits[0:6:2]

('사과', '딸기', '수박')

In [82]:
fruits[:3], fruits[-3:]

(('사과', '망고', '딸기'), ('바나나', '수박', '참외'))

In [83]:
fruits[::2]

('사과', '딸기', '수박')

In [84]:
fruits = ['사과', '망고', '딸기', '바나나', '수박', '참외']
fruits.append('체리')
print(fruits)

['사과', '망고', '딸기', '바나나', '수박', '참외', '체리']

In [85]:
fruits = ['사과', '망고', '딸기', '바나나', '수박', '참외', '체리']
fruits.insert(1, '감')
print(fruits)

['사과', '감', '망고', '딸기', '바나나', '수박', '참외', '체리']

In [86]:
fruits = ['사과', '망고', '딸기', '바나나', '수박', '참외', '체리']
fruits.insert(3, '감')
print(fruits)

['사과', '망고', '딸기', '감', '바나나', '수박', '참외', '체리']

In [87]:
fruits = ['사과', '망고', '딸기', '바나나', '수박', '참외', '체리']
print(fruits.pop())
print(fruits)

체리
['사과', '망고', '딸기', '바나나', '수박', '참외']

In [88]:
fruits = ['사과', '망고', '딸기', '바나나', '수박', '참외', '체리']
fruits.remove('바나나')
print(fruits)

['사과', '망고', '딸기', '수박', '참외', '체리']

In [89]:
fruits = ['사과', '망고', '딸기', '바나나', '수박', '참외', '체리']
del fruits[3]
print(fruits)

['사과', '망고', '딸기', '수박', '참외', '체리']

In [97]:
for a in range(5):
    a = []
    x = int(input())
    a.append(x)

In [98]:
print('Hello World!')

Hello World!

In [100]:
a, b = map(int, input().split())
print(a + b)

3

In [ ]:
a, b = map(int, input().split())
T
print("Case#", x, ": ", a + b)