# Unit 6. 변수(Variable)

## 6-1. 변수 만들기

In [3]:
#큰 파일을 작업할 때는 x, y, z로 표기하는 대신 의미를 명확하게 하기 위해서 두 개 이상의 단어 붙여서 사용
lbs_weight = 174.5   # snake 표기법 (Python)
inchHeight = 70.0    # camel 표기법 (Java)

In [4]:
# tuple unpacking
x, y, z = 10, 20, 30

In [92]:
# temp=x
# x=y
# y=temp

# 파이썬 표기 방식:
x, y = y, x
x, y
#숫자가 맞지 않음 왜?

(30, 160)

In [93]:
x += y   # x = x + y
x

190

In [17]:
sum = 0
for i in range(1,101):
    sum += i
    sum

In [23]:
input('숫자를 입력하세요> ')

'10'

In [25]:
number = input('정수를 입력하세요> ')

In [26]:
number

'5'

In [30]:
number = int(input('정수를 입력하세요> '))

In [31]:
number

34

In [78]:
10+20 , '10'+'20'   #숫자, 문자

(30, '1020')

### 정수 두 개를 입력으로 받기

In [2]:
# num1, num2 = input('정수 두개 입력>')
s = input('정수 두개 입력>')

In [37]:
s

'30, 40'

In [81]:
a, b = s.split()
a, b, a+b

('30,', '40', '30,40')

In [80]:
s.split()

['30,', '40']

In [83]:
list(map(int, s.split(',')))

[30, 40]

In [70]:
num1, num2 = map(int, s.split(','))
num1, num2

(30, 40)

In [69]:
num1 = int(s.split(',')[0])
num2 = int(s.split(',')[1])
num1, num2

(30, 40)

In [84]:
num1, num2 = map(int, input('정수 두개 입력>').split(','))
num1, num2

(30, 40)

In [91]:
n1, n2, n3 = map(int, input('정수 세개 입력>').split(','))
n1, n2, n3, n1+n2+n3

(30, 40, 50, 120)

In [ ]:
10, 20, 30