# Unit 6. 변수(Variable)

## 6-1. 변수 만들기

In [3]:
#큰 파일을 작업할 때는 x, y, z로 표기하는 대신 의미를 명확하게 하기 위해서 두 개 이상의 단어 붙여서 사용
lbs_weight = 174.5   # snake 표기법 (Python)
inchHeight = 70.0    # camel 표기법 (Java)

In [5]:
# tuple unpacking
x, y, z = 10, 20, 30

In [7]:
# temp=x
# x=y
# y=temp

# 파이썬 표기 방식:
x, y = y, x
x, y
#숫자가 맞지 않음 왜?

(10, 20)

In [8]:
x += y   # x = x + y
x

30

In [17]:
sum = 0
for i in range(1,101):
    sum += i
    sum

In [23]:
input('숫자를 입력하세요> ')

'10'

In [25]:
number = input('정수를 입력하세요> ')

In [26]:
number

'5'

In [30]:
number = int(input('정수를 입력하세요> '))

In [31]:
number

34

In [78]:
10+20 , '10'+'20'   #숫자, 문자

(30, '1020')

### 정수 두 개를 입력으로 받기

In [23]:
# num1, num2 = input('정수 두개 입력>')
s = input('정수 두개 입력>')

In [24]:
s

'10, 20'

In [25]:
a, b = s.split()
a, b, a+b

('10,', '20', '10,20')

In [26]:
s.split()

['10,', '20']

In [27]:
list(map(int, s.split(',')))

[10, 20]

In [28]:
num1, num2 = map(int, s.split(','))
num1, num2

(10, 20)

In [29]:
num1 = int(s.split(',')[0])
num2 = int(s.split(',')[1])
num1, num2

(10, 20)

In [30]:
num1, num2 = map(int, input('정수 두개 입력>').split(','))
num1, num2

(10, 20)

In [31]:
n1, n2, n3 = map(int, input('정수 세개 입력>').split(','))
n1, n2, n3, n1+n2+n3

(10, 20, 30, 60)

In [ ]:
10, 20, 30

In [2]:
# 표준 입력으로 국어, 영어, 수학, 과학 점수가 입력됩니다. 평균 점수를 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 단, 평균 점수를 출력할 때는 소수점 이하 자리는 버립니다(정수로 출력).
a, b, c, d = map(int, input().split(','))
print((a + b + c + d)//4)

92